body {
  margin: 0;
  padding: 80px 0 120px 0;
  background-color: #324c77;
}

.topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 32px);
  height: 60px;
  font-family: sans-serif;
  font-size: 2rem;
  background-color: #657691;
  padding: 0 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
  padding: 6px;
  margin-top: 0;
  margin: 10px 0;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.label {
  color: #ffffff;
  padding: 0 28px;
  margin: 20px 20px;
  font-size: 1.05rem;
  border-radius: 25px;
  border: none;
  background-color: #1e2d49;
  height: 50px;
  width: 90%;
  max-width: 280px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.row {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 80%;
  border: 1px solid;
  border-color: rgba(101, 118, 145, 0.8);
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0), #324c77, #324c77, #324c77);
}

.bottombar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #9BB5DE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  position: absolute;
  bottom: 18%;
  left: 0; 
  right: 0;
  margin: 0 auto;
  height: 65px;
  width: 65px;
  border: 8px solid;
  border-color: #324c77;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.yellow { background-color: #D4B739;}
.green { background-color: #05AD6D;}

.func {
  display: flex;
  height: 90%;
  align-items: center;
}

i {
  font-size: 35px;
  margin: 0 3px;
}

@media (max-width: 500px) {
  .label {
    margin: 10px 20px;
  }
}