<!DOCTYPE html>
<html>

<head>
  <title>HOME | XYZUA</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./home.css">
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="topbar" :style="statusColor">{{status}}</div>
  
    <h1 class="title">Welcome, {{identity.Identity}}</h1>
    <div class="row">
      <!-- info -->
      <input v-for="(val, key, index) in info" class="label" :value="key + ': ' + val" readonly="readonly" />
    </div>
    <hr />
    <h1 class="title">Links</h1>
    <div class="row">
      <!-- links -->
      <input v-if="identity.Role == 'ADMIN'" class="label" value="ADMIN" @click="jumpApp('ADMIN')" readonly="readonly" />
      <input v-for="link in links" class="label" :value="link.Appname" @click="jumpApp(link.Appname)" readonly="readonly" />
    </div>
    <div class="bottom">
      <div class="bottombar">
        <div class="func" @click="logout">
          <i style="font-size: 35px;" class="material-icons">arrow_back</i>
          Logout
        </div>
        <div class="func" @click="changePassword">
          Password
          <i style="font-size: 35px;" class="material-icons">vpn_key</i>
        </div>
      </div> 
      <div :class="['button', marked ? 'green' : 'yellow']" @click="mark">
        <i style="font-size: 35px;" class="material-icons">{{marked ? 'done' : 'crop_square'}}</i>
      </div> 
    </div>
  </div>
</body>
<script type="text/javascript" src="./common.js"></script>
<script type="text/javascript" src="./home.js"></script>

</html>