body {
  padding: 0;
  margin: 0;
}

.bar {
  position: absolute;
  width: calc(100% - 32px);
  font-family: sans-serif;
  font-size: 2rem;
  background-color: rgba(101, 118, 145, 0.3);
  padding: 8px 16px;
  color: #ffffff;
}

.title {
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
  padding: 6px;
  margin-top: 0;
  margin-bottom: 40px;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  font-family: sans-serif;
  max-width: 320px;
  width: 70%;
  height: 500px;
  padding: 5px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputForm {
  color: #000000;
  padding: 0 28px;
  margin: 10px 0;
  font-size: 1.1rem;
  border-radius: 25px;
  border: none;
  background-color: #ffffff;
  height: 50px;
  width: 100%;
}

.label {
  color: #ffffff;
  padding: 0 28px;
  margin: 20px 0;
  font-size: 1.05rem;
  border-radius: 25px;
  border: none;
  background-color: #1e2d49;
  height: 50px;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}